<!DOCTYPE HTML>
<html>
<head>
<#include '/adminPage/common.html'/>
<style type="text/css">
.layui-form-label{
	width: 120px;
}
.pass-toggle {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #999;
	font-size: 18px;
	z-index: 1;
}
.pass-toggle:hover {
	color: #333;
}
.pass-wrap {
	position: relative;
}
.pass-wrap input {
	padding-right: 35px;
}
</style>
</head>
<body style="background-image: url('${ctx}/img/background.svg'); background-size: cover;">
	<div style="height: 0px; width: 0px; overflow: hidden;">
		<!-- 弹出框 -->
		<div class="layui-form" id="windowDiv" style="padding: 15px; display: none;">
			<form id="loginForm">
				<input type="hidden" name="id" id="id">
				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.name}</label>
					<div class="layui-input-inline">
						<input type="text" name="name" id="name" class="layui-input" value="" autocomplete="username">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.pass}</label>
					<div class="layui-input-inline pass-wrap">
						<input type="password" name="pass" id="pass" class="layui-input" value="" autocomplete="current-password" onkeyup="getKey()">
						<i class="layui-icon layui-icon-eye-invisible pass-toggle" id="passToggle" onclick="togglePass()"></i>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.code}</label>
					<div class="layui-input-inline" style="width: 240px;">
						<input type="text" name="code" id="code" class="layui-input" style="width: 100px; display: inline-block;" onkeyup="getKey()">
						<button type="button" class="captcha-btn" onclick="refreshCode('codeImg')" aria-label="${commonStr.refreshCaptcha}">
							<img src="${ctx}/adminPage/login/getCode?t=${jsrandom}" id="codeImg" alt="">
						</button>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label"> </label>
					<div class="layui-input-inline">
						<input type="checkbox" name="remember" id="remember" title="${loginStr.remember}" lay-skin="primary">
					</div>
				</div>

				<div class="layui-form-item" style="text-align: center;">
					<input type="hidden" name="authCode" id="authCode">
					<button type="button" class="layui-btn layui-btn-normal" onclick="getAuth()">${loginStr.login}</button>
					<a type="button" class="layui-btn layui-btn-normal" href="/adminPage/sso/redirect" >${menuStr.sso}</a>
				</div>
			</form>
		</div>

		<input type="hidden" id="adminCount" value="${adminCount}">
		<div class="layui-form" id="addUserDiv" style="padding: 15px; display: none;">
			<form id="adminForm">


				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.name}</label>
					<div class="layui-input-inline">
						<input type="text" name="name" id="adminName" class="layui-input" value="" autocomplete="username">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.pass}</label>
					<div class="layui-input-inline">
						<input type="password" name="pass" id="adminPass" class="layui-input" value="" autocomplete="new-password">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">${loginStr.repeatPass}</label>
					<div class="layui-input-inline">
						<input type="password" id="repeatPass" class="layui-input" value="" autocomplete="new-password">
						<div class="layui-form-mid layui-word-aux">${loginStr.tips}</div>
					</div>
				</div>
				<div class="layui-form-item" style="text-align: center;">
					
					<button type="button" class="layui-btn layui-btn-primary" onclick="changeLang()" style="display:inline-flex;align-items:center;gap:6px;vertical-align:middle;">
						<#if lang?? && lang == "zh_TW">
							<img src="${ctx}/img/tw.svg" alt="tw" style="width:18px;height:auto;border:1px solid #ccc;border-radius:2px;">
						<#elseif lang?? && lang == "en_US">
							<img src="${ctx}/img/gb.svg" alt="en" style="width:18px;height:auto;border:1px solid #ccc;border-radius:2px;">
						<#else>
							<img src="${ctx}/img/cn.svg" alt="cn" style="width:18px;height:auto;border:1px solid #ccc;border-radius:2px;">
						</#if>
						<span>${langType}</span>
					</button>
					<button type="button" class="layui-btn layui-btn-normal" onclick="addAdmin()">${loginStr.add}</button>
				</div>
			</form>
		</div>

		<div class="layui-form" id="codeDiv" style="padding: 15px; display: none">
			<div class="layui-form-item">
				<label class="layui-form-label">${loginStr.authCode}</label>
				<div class="layui-input-inline">
					<input type="number" id="codeInput" class="layui-input" onkeyup="getKeyCode()">
				</div>
			</div>

			<div class="layui-form-item" style="text-align: right;">
				<button type="button" class="layui-btn layui-btn-normal" onclick="login()">${commonStr.submit}</button>
				<button type="button" class="layui-btn" onclick="layer.close(codeIndex)">${commonStr.close}</button>
			</div>
		</div>

	</div>

	<#include '/adminPage/script.html'/>
	<#include '/adminPage/select_lang.html'/>
	
	<script src="${ctx}/lib/base64/base64.js" type="text/javascript"></script>
	<script src="${ctx}/js/adminPage/login/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>
