<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">

			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">
					<i class="layui-icon layui-icon-engine" style="margin-right:6px;"></i><span style="color: aqua;" id="localType">
					</span>
				</a>
				<dl class="layui-nav-child">
					<dd style="border-bottom: 1px solid #555;">
						<a href="${ctx}/adminPage/monitor"><i class="layui-icon layui-icon-chart-screen"></i>${menuStr.monitor}</a>
					</dd>


					<dd>
						<a href="${ctx}/adminPage/basic"><i class="layui-icon layui-icon-set"></i>${menuStr.basic}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/http"><i class="layui-icon layui-icon-website"></i>${menuStr.http}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/server"><i class="layui-icon layui-icon-transfer"></i>${menuStr.server}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/stream"><i class="layui-icon layui-icon-share"></i>${menuStr.stream}</a>
					</dd>
					<dd style="border-bottom: 1px solid #555;">
						<a href="${ctx}/adminPage/upstream"><i class="layui-icon layui-icon-cols"></i>${menuStr.upstream}</a>
					</dd>


					<dd>
						<a href="${ctx}/adminPage/conf"><i class="layui-icon layui-icon-ok-circle"></i>${menuStr.conf}</a>
					</dd>

					<dd>
						<a href="${ctx}/adminPage/template"><i class="layui-icon layui-icon-template"></i>${menuStr.template}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/siteResource"><i class="layui-icon layui-icon-folder"></i>${menuStr.siteResource}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/protectionCert"><i class="layui-icon layui-icon-auz"></i>${menuStr.protectionCert}</a>
					</dd>

					<dd>
						<a href="${ctx}/adminPage/log"><i class="layui-icon layui-icon-log"></i>${menuStr.log}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/operateLog"><i class="layui-icon layui-icon-list"></i>${menuStr.operateLog}</a>
					</dd>
					<dd>
						<a href="${ctx}/adminPage/export"><i class="layui-icon layui-icon-export"></i>${menuStr.export}</a>
					</dd>


				</dl>
			</li>

			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">
					<i class="layui-icon layui-icon-set-fill" style="margin-right:6px;"></i><span style="color: aqua;">${menuStr.remoteTitle}</span>
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="${ctx}/adminPage/remote"><i class="layui-icon layui-icon-console"></i>${menuStr.remote}</a>
					</dd>
					<#if admin.type == 0 || showAdmin == 'true'>
						<dd>
							<a href="${ctx}/adminPage/admin"><i class="layui-icon layui-icon-group"></i>${menuStr.admin}</a>
						</dd>
						<dd>
							<a href="${ctx}/adminPage/sso"><i class="layui-icon layui-icon-key"></i>${menuStr.sso}</a>
						</dd>
					</#if>
					<dd>
						<a href="${ctx}/doc/api.html" target="_blank"><i class="layui-icon layui-icon-read"></i>${menuStr.doc}</a>
					</dd>
					<dd>
						<a href="javascript:void(0)" onclick="window.open('http://' + location.hostname + ':3000', '_blank')"><i class="layui-icon layui-icon-chart-screen"></i>Grafana</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
